/*
 
    ____ _           _   
   / ___| |__   __ _| |_ 
  | |   | '_ \ / _` | __|
  | |___| | | | (_| | |_ 
   \____|_| |_|\__,_|\__|
                         
 
*/

@import url('./globals.css');


/*=============================================
=            main container            =
=============================================*/

#chat-main-container {
    overflow: hidden;
    height:  100vh;
    background-image: url('./../imgs/topography-background.jpg');
    background-size: contain;
    background-position: 30vw, 2vh;
}



/*=============================================
=            Header            =
=============================================*/

header {
    font-family: Allan;
    display: flex;
    background-color: var(--telefake-blue);
    color: white;
    align-items: center;
}

header div {
    margin-left: 4vw;
}
header h3 {
    font-family: Caveat;
    margin-left: 1vw;
}

#telefake-label {
    font-family: Allan;
    font-size: 2.4rem;
    margin: 0 3% 0 auto;
}

#chat-logo img {
    width: 4vw;
}


/*=============================================
=            main            =
=============================================*/

#central-display {
    display: flex;
    height: 87vh;
}

/*----------  Room info  ----------*/

#room-content {
    width: 18vw;
    background-color: aliceblue;
}

#room-header {
    font-family: Allan;
    background-color: var(--telefake-blue-hover);
    font-size: 1.3rem;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    padding: 2.4% 0;
}



/*----------  chat  ----------*/

#chat-messages {
    display: flex;
    width: 82vw;
    flex-direction: column;
}

#chat-massages-container {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 80vh;
    margin-right: 5em;
}


#chat-transmisor{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1%;
}

#chat-transmisor input {
    font-family: Caveat;
    width: 87%;
    font-size: 1.6rem;
    color: var(--telefake-blue);
    border-radius: 9999px;
    border: 1px solid var(--grey);
    outline: none;
    padding: .5% 1%;
}

.circular-input-btn {
    cursor: pointer;
    display: flex;
    background-color: var(--telefake-blue);
    opacity: .7;
    padding: 2%;
    border-radius: 9999px;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.circular-input-btn:hover {
    background-color: var(--telefake-blue-hover);
}

.circular-input-btn object{
    pointer-events: none;
    width: 1.7vw;
    filter: invert(100%);
    text-align: center;
}



/*=============================================
=            footer            =
=============================================*/

#status-bar {
    font-family: Caveat;
    height: 4vh;
    display: flex;
    background-color: var(--telefake-blue);
    color: white;
    padding: 0.25%;
}

#file-input {
    opacity: 0;
}


